<div class="bg-slate-50 min-h-screen flex flex-col w-[600px]">
  <section class="bg-[#fcdf97] flex font-bold justify-center items-center relative text-[30px] text-[#5b2d00] h-[80px] w-auto ">
    <%= "あなたのことを教えてね" %>
  </section>
  <section class="flex justify-center items-center h-[800px] w-[600px] relative">
    <%= render 'form', user: @user %>
  </section>
</div>