<div class="mx-auto max-w-md text-center text-gray-600 py-12">
  <p class="mb-4">いま表示できる会話がありません。</p>
  <%= link_to "メインページに戻る", main_path, class: "inline-block underline text-blue-600 hover:text-blue-800" %>
</div>
