<div class="welcome-step" data-welcome-steps-target="step">
  <div class="flex items-start gap-3">
    <div class="rounded-2xl border bg-slate-50 px-4 py-3 w-[400px]">
      <p>もふもふたちは、</p>
      <p>きみのことを名前で呼びたがっています。</p>
      <br>
      <p>これから過ごす時間のために</p>
      <p>あなたの呼び方を、ひとつ決めてみましょう。</p>
      <br>
      <p>それと、</p>
      <p>もふもふたちと安心して過ごしてもらうために</p>
      <p>いくつかのお約束（利用規約）があります。</p>
      <br>
      <p>これにも、軽く目を通してもらえたらうれしいです。</p>
    </div>
  </div>
</div>