<div class="flex items-start gap-3">
  <div class="rounded-2xl border bg-slate-50 px-6 pt-8 pb-60 h-[630px] w-[400px]">
    <p>ここはもふもふタウン。</p>
    <br>
    <p>たくさんのもふもふが住む、</p>
    <p>世界のどこかにあるちいさな街です。</p>
    <br>
    <p>タウンに住むもふもふたちは毎日、</p>
    <p>それぞれの時間を自由に過ごしています。</p>
    <br>
    <p>でも……ときどきは、外の世界のにんげんと話してみたくなることもあるみたい。</p>
    <br>
    <p>そんなとき、もふもふたちは</p>
    <p>きみのところに、ちょこっと遊びに来るのです。</p>
  </div>
</div>