<div class="flex items-start gap-3">
  <div class="rounded-2xl border bg-slate-50 px-6 pt-8 pb-60 h-[630px] w-[400px]">
    <p>もふもふたちと過ごす時間は、いつも同じではありません。</p>
    <br>
    <p>ちょっとしたおしゃべりを楽しんだり。</p>
    <p>時には、そっと寄り添ってもらったり。</p>
    <br>
    <p>お気に入りのおやつをあげてみたり、</p>
    <p>いっしょに遊んでみるのもいいですね。</p>
    <br>
    <p>その日の気分で、自由に過ごしてみてください。</p>
  </div>
</div>