<div class="flex items-start gap-3">
  <div class="rounded-2xl border bg-slate-50 px-6 pt-8 pb-60 h-[630px] w-[400px]">
    <p>そうそう！</p>
    <p>遊びにくるもふもふたちは、あなたのことを名前で呼びたがっているみたいですよ。</p>
    <br>
    <p>これから過ごす時間のために、今から名前をひとつ、決めてみましょう。</p>
    <br>
    <p>それと、もふもふたちと安心して過ごしてもらうために、いくつかのお約束（利用規約）があります。</p>
    <br>
    <p>これにも、軽く目を通してもらえたらうれしいです。</p>
  </div>
</div>