<div class="welcome-step" data-welcome-steps-target="step">
  <div class="flex items-start gap-3">
    <div class="rounded-2xl border bg-slate-50 px-4 py-3 w-[400px]">
      <p>最後に……ちょこもふには、</p>
      <p>いろいろな楽しみ方があります。</p>
      <br>
      <p>くわしい遊び方は、</p>
      <p>マイページから、いつでも確認できます。</p>
      <br>
      <p>あとから、ゆっくり見てみてくださいね。</p>
    </div>
  </div>
</div>