<div class="welcome-step" data-welcome-steps-target="step">
  <div class="flex items-start gap-3">
    <div class="rounded-2xl border bg-slate-50 px-4 py-3 w-[400px]">
      <p>ここはもふもふタウン。</p>
      <br>
      <p>たくさんのもふもふが住む、</p>
      <p>世界のどこかにあるちいさな街です。</p>
      <br>
      <p>タウンに住むもふもふたちは、</p>
      <p>ふだんは、それぞれの毎日を自由に過ごしています。</p>
      <p>でも、ときどきは外の世界のにんげんと、話してみたくなることもあるみたい。</p>
      <br>
      <p>そんなとき、もふもふたちは</p>
      <p>きみのところに、ちょこっと遊びに来るのです。</p>
    </div>
  </div>
</div>