<div class="flex items-start gap-3">
  <div class="rounded-2xl border bg-slate-50 px-6 pt-8 pb-60 h-[630px] w-[400px]">
    <p>最後に……ちょこもふには、いろいろな楽しみ方があります。</p>
    <br>
    <p>くわしい遊び方は『マイページ』から、いつでも確認できます。</p>
    <br>
    <p>あとから、ゆっくり見てみてくださいね。</p>
  </div>
</div>