<div class="bg-slate-50 min-h-screen flex flex-col gap-[15px] w-[600px]">
  <section class="flex font-bold justify-center items-center mt-[40px] relative text-[30px] text-amber/700 h-[200px] w-auto ">
    <%= "ニックネームを入力してね" %>
  </section>

  <section class="flex justify-center items-center text-amber/700 text-sm">
    © <%= Time.current.year %> ChokoMofu Project
  </section>

  <section aria-hidden="true" class="h-[56px]"></section>
</div>