@import "tailwindcss";
@source "./app/views/**/*.{erb,html}" "./app/javascript/**/*.{js,ts,jsx,tsx}" "./app/helpers/**/*.rb";

@theme {
  --font-sans: "Zen Maru Gothic",
               "Yu Gothic", "Hiragino Kaku Gothic ProN", Meiryo,
               system-ui, ui-sans-serif, -apple-system, "Segoe UI", Roboto, "Noto Sans",
               "Apple Color Emoji", "Segoe UI Emoji";
}
