<div data-controller="conversation-step" data-action="click->conversation-step#next">
  <%= render "shared/speech_bubble", class: "w-[480px] mt-2", style: "" do %>
    <% lines.each_with_index do |item, i| %>
      <div data-conversation-step-target="line"
           data-expression-key="<%= item[:image] %>"
           class="<%= i == 0 ? '' : 'hidden' %> mb-1">

        <%= simple_format(h(item[:text]), {}, wrapper_tag: "div") %>
      </div>
    <% end %>

    <div data-conversation-step-target="nextIndicator"
         class="mt-2 text-right text-sm text-amber-400/80 select-none">
      ▼
    </div>

    <div data-conversation-step-target="closer"
         class="flex justify-end pt-2 hidden">
      <button type="button"
              class="inline-block rounded-xl border-2 border-amber-400 bg-white px-3 py-2
                     hover:bg-amber-400/20 transition"
              data-action="click->snack-reaction#close">
        とじる
      </button>
    </div>
  <% end %>
</div>